###> phpstorm ###
/.idea/
/.sass-cache/
###< phpstorm ###

.env
.venv

data/formated/city_distances.csv
data/formated/city_pairs.csv

data/brut/*
data/formated/city_distances
data/formated/city_pairs
data/formated/backup

notebooks/data/
notebooks/export/

__pycache__